$color-primary =    hsl(0, 0%, 100%);
$color-secondary =  hsl(203, 47%, 66%);
$color-tertiary =   hsl(0, 0%, 93%);
$color-quaternary = hsl(23, 18%, 32%);

$color_text = hsl(0, 0%, 0%);
$color_text--add = hsl(0, 0%, 100%);

$font-family = "PT Sans", Helvetica, Arial, sans-serif;
$html-size--base = 10px;

$headings-weight = 700;
$headings-weight--light = 300;
