include _helpers/_variables
include _helpers/_mixins
doctype html
html(lang="ru")

  head
    include _components/_head

  body
    .wrapper
      include _components/_header

      block page-description
      .page-description
        h2.page-description__title #{pageDecrTitle}
        p.page-description__text #{pageDescrText}

      block content

      block pagination
      - if (pageType == 'post')
          -navTag = 'ul'
          -navClasses = ['pagination--post__list']
          -listClasses = ['pagination--post__item']
          -linkClasses = ['pagination--post__link']
          .pagination.pagination--post
          p.pagination__pointer Страница:
          +navMenu([
              {'title': 'Пред. пост', 'link': '#'},
              {'title': 'Назад к списку"', 'link': '#'},
              {'title': 'След. пост', 'link': '#'},
              ])

      - else if (pageType == 'blog')
          -navTag = 'ul'
          -navClasses = ['pagination__list']
          -listClasses = ['pagination__item']
          -linkClasses = ['pagination__link']
          .pagination
            p.pagination__pointer Страница:
            +navMenu([
                {'title': '1', 'link': '#'},
                {'title': '2', 'link': '#'},
                {'title': '3', 'link': '#'},
                {'title': '4', 'link': '#'},
                {'title': '5', 'link': '#'},
                ])

      include _components/_footer
