extends _layout

block pageTitle
  - var pageTitle = 'Блог шерифа'

block page-description
  - var pageDecrTitle = pageTitle
  - var pageDescrText = 'Седона удивительный город! Горы здесь красного цвета, а местный шериф ведет блог и общается на форумах.'


block content
  -postDate = 'Позавчера'
  -postTag  = 'Происшествия'
  +blogItem(
    'Внимание! Сбежала моя домашняя анаконда',
    'Жители Седоны и гости города, будьте бдительны — Сбежала моя домашняя змея. Увидевшему срочно звонить 911 и бежать от нее подальше.'
    )

  -postDate = '2 дня назад'
  -postTag  = 'Законы'
  +blogItem(
    'Принят антитабачный закон штата',
    'Уважаемые туристы, пожалуйста не забывайте, что курение сигарет и сигар в общественных местах города Седона категорически запрещено.'
    )

  -postDate = '3 дня назад'
  -postTag  = 'Происшествия'
  +blogItem(
    'Маньяк задержан, дает показания',
    'Жители седоны могут спать спокойно. Задержан маньяк-эксгибиционист, державший в страхе весь город. Пострадавшим обращаться в 911.'
    )

  -postDate = 'неделю назад'
  -postTag  = 'Интересное'
  +blogItem(
    'Водопад закрыт на реконструкцию',
    'Всем, кто планировал посещать водопад на этих выходных придется изменить планы, на нем ведутся ремонтные работы по улучшению подачи воды.'
    )

  -postDate = 'месяц назад'
  -postTag  = 'Еда'
  +blogItem(
    'Отрылся новый стейкхаус «горный бык»',
    'Лучшие стейки в Аризоне! Приемлемые цены и только самые лучшие продукты. Заходите попробовать! Действует акция: съешь два и получи третий!'
    )

  -postDate = 'год назад'
  -postTag  = 'Погода'
  +blogItem(
    'Прогноз погоды на ближайшие выходные',
    'Синоптики обещают, что будет ясно, безветрено и около 90 по фаренгейту. Как в пустыне! Проверим их слова уже через пару дней.'
    )

block pagination
  -pageType = 'blog'


