extends _layout

block pageTitle
  - var pageTitle = "Главная"

block page-description
  - var pageDecrTitle = "Седона — небольшой городок в Аризоне, заслуживающий большего!"
  - var pageDescrText = "Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!"

block content
  .content--index
    .features
      .row
        +featuresItem(
          'Настоящий городок',
          1,
          'Седона не аттракцион для туристов, там течет своя жизнь')
        //img.features__img.col-2(src="img/photo-city@1x.jpg" width="100%")
        .features__img.col-2
      .row
        +featuresItem(
          'Жилье',
          0,
          'Рекомендуем пожить в настоящем мотеле, все как в кино!')

        +featuresItem(
          'Еда',
          0,
          'Всегда заказывай фирменный бургер, вы не разочаруетесь!')

        +featuresItem(
          'Сувениры',
          0,
          'Не только китайского, но и местного производства!')

      .row
        .features__img.col-2

        +featuresItem(
          'Там есть мост дьявола',
          2,
          'Да, по нему можно пройти! Если вы, конечно, осмелитесь')

      .row
        +featuresItem(
          'Небольшая площадь',
          3,
          'Все достопримечательности находятся очень близко')

        +featuresItem('Красивая дорога',
          4,
          'Ехать в Седону из Лас-Вегаса совсем не скучно!')

        +featuresItem(
          'Мало туристов',
          5,
          'Большинство едет в Гранд Каньон и толпится там')

    .search-block
      h2.search-block__title Заинтересовались?
      p.search-block__text Укажите предполагаемые даты поездки
                            | и мы покажем вам лучшие предложения гостиниц в Седоне
      a(href="#", class="btn btn--seаrch")   Найти
  .map



