extends _layout

block pageTitle
  - var pageTitle = 'Блог шерифа'

block page-description
  - var pageDecrTitle = pageTitle
  - var pageDescrText = 'Седона удивительный город! Горы здесь красного цвета, а местный шериф ведет блог и общается на форумах.'

block content
  -postDate = 'Позавчера'
  -postTag  = 'Происшествия'

  article.post

    .post__tags
      p.tags__item.tags__item--date #{postDate}
      p.tags__item.tags__item--category #{postTag}

    section.post-preview
      h1.post-preview__title Внимание! Сбежала моя домашняя анаконда
      p.post-preview__text Жители Седоны и гости города, будьте бдительны — Сбежала моя домашняя змея.
                          | Увидевшему срочно звонить 911 и бежать от нее подальше.

    h3.post__title Предыстория
    p.post__par В далеком 85-ом я подобрал эту змею на трассе. Ее переехал грузовик и она валялась на обочине.
                | Мне стало жаль ее и я решил взять ее с собой.
                | Кинул в багажник пикапа и подумал  тогда: «Если доедет до Седоны живой, так и быть, оставлю ее себе»
    h3.post__title Пропажа
    p.post__par Неделю назад я вернулся из канзаса и не нашел Анаконду дома.
                | Обошел все 200 гектаров своего участка, но ее нигде нет.
                | Решил сообщить в полицию, но вовремя вспомнил, что я и есть полиция, поэтому отправился на поиски сам.
                | Особые приметы змеи:
    ul.post-list
      li.post-list__item Длина: 5 метров
      li.post-list__item Масса: 85 кг
      li.post-list__item Окраска: серовато-зелёная
    p.post__par Если вы увидите эту змею, сразу <a class="post__link" href="#">звоните 911</a> и бегите со всех ног от нее!
    h3.post__title Предостережение
    p.post__par Не пытайтесь убить змею, если увидите!
                | Помните, что она тоже живое существо, хоть и выглядит не очень приятно.
                | Вот цитата, которая мне очень нравится:
    blockquote.post_quote Самый свирепый из зверей — теперь мы знаем — это человек,
                          | он убивает даже если не голоден.
                          <br><span class="quote-post__author">Адриано Челентано</span>

block pagination
  -pageType = 'post'



