.intro
  background: url('/img/photo-background@1x.jpg') no-repeat center top
  background-size: 100% auto
  padding: $pad_intro 0
  text-align: center

  @media ({$md})
    padding-top: ($pad_intro + 2)
    padding-bottom: ($pad_intro + 4)
