.features-item_type_icon
  padding: ($pad_features + 1)
  text-align: left
  background-color: $color-primary

  @media ({$md})
    padding-top: 16rem
    padding-bottom: ($pad_features * 2)
    text-align: center

  @media ({$md})
    padding-bottom: ($pad_features * 2 + 2)

  & .container
    padding-left: 5rem

    //@media ({$md})
    //  padding-left: 0
