//.logo
//  position: relative
//  height: 60px
//  margin-bottom 20px
//  background-color: $color-primary
//
//  @media ({$md})
//    position: static

//.logo
//  position: absolute
//  width: 140px
//  height: 70px
//  left: 50%
//  margin-left: -70px;
//  background-color: $color-primary
//  background: url("../../img/logo__bg.png") center top
//
//  @media ({$md})
//    top: 0

