- var navTag = 'div'
- var navClasses = ['social']
- var listClasses = ['social__item']
- var linkClasses = ['social__link']


footer.page-footer
  .hashlogo #{logoFooter}
  +navMenu([
      {'title': 'Twitter', 'link': '#'},
      {'title': 'Facebook', 'link': '#'},
      {'title': 'Youtube', 'link': '#'}
  ])

  .copywrite
    p.copywrite__text Разработано
    .copywrite__logo















