//- Для главного меню
- var navTag = 'nav'
- var navClasses = ['main-menu']
- var listClasses = ['main-menu__item']
- var linkClasses = ['main-menu__link']


header.page-header
  +navMenu([
      {'title': 'Информация', 'link': '#'},
      {'title': 'Фото и видео', 'link': '#'},
      {'title': 'Главная', 'link': 'index.html', 'class': 'main-menu__link--home', 'liclass': 'logo--top'},
      {'title': 'Карта штата', 'link': '#'},
      {'title': 'Гостиницы', 'link': '#'}
      ])
  .intro





























