.menu-main__link_logo
  position: absolute
  width: 140px
  height: 70px
  left: 50%
  margin: 0 auto 0 -70px
  padding: 0
  background: transparent  url("../../img/logo__bg.png") no-repeat center top
  font-size: 0

  @media ({$md})
    position: static
    margin: 0 auto
