.features-item_color_white
  background-color: $color-primary
  color: $color-text
  text-align: left
  padding-left: 50px
  padding-left: 5rem

  @media ({$md})
    text-align: center
    padding-left: 0