.features-item
  padding: $pad_features 0
  background-color: $color-tertiary
  text-align: center

  @media ({$md})
    padding: ($pad_features + 1.5) 0

  @media ({$lg})
    padding-bottom: ($pad_features + 2)