.features-item__title
  $fonts(21, 26)
  min-height: round(@line-height * @font-size * 20)px
  min-height: round(@line-height * @font-size * 2)rem
  margin: 0
  padding: 0

  @media ({$md})
    $fonts(21, 26, 700)
    width: 155px
    width: 15.5rem
    margin: 0 auto
    //padding: 0 10%

  @media ({$lg})
    $fonts(21, 26, 700)
    //padding: 0 23%

