.page
  // min-height: 100vh
  margin: 0
  padding: 0
  color: $color-text
  background-color: $color-tertiary

  &__inner
    max-width: 1200px
    margin: 0 auto
    background-color: $color-primary
    box-shadow: 0 0 15px rgba(0, 0, 0, .2)
