.menu-main__link
  display: block
  margin: 0
  padding: 15px 20px
  background-color: $color-secondary
  color: $color-text_add
  $fonts(18, 40, 700)

  @media ({$md})
    background-color: $color-primary
    color: $color-text
    $fonts(14, 21, 700)
