.menu-main__item_shadow
  position relative
  &::after
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: ""
    box-shadow: inset 0 -5px 15px -5px rgba(0,0,0,.2)

  @media ({$md})
    &::after
      box-shadow: none