- var pageTitle
- var pageDecrTitle
- var pageDescrText
- var pageType

- var navTag
- var navClasses
- var listClasses
- var linkClasses
- var linkAtts
- var formName
- var logoFooter = "#visitsedona"

- var postDate
- var postTag
