.menu-main
  display flex
  flex-direction: column
  list-style-type: none
  text-transform: uppercase
  background-color: $color-secondary

  @media ({$md})
    display flex
    flex-direction: row
    flex-wrap: nowrap
    background-color: $color-primary



