$color-primary =    #fff
$color-secondary =  #80b3d2
$color-tertiary =   #ededed;
$color-quaternary = #604e42;

$color-text = #000;
$color-text_add = #fff;

$html-font_base = 62.5%

$font-family = "PT Sans", Helvetica, Arial, sans-serif;

$weight_bold = 700;
$weight_light = 300;

$sm = 'min-width: 480px'
$md = 'min-width: 768px'
$lg = 'min-width: 960px'


$pad_intro = 4.5rem
$pad_features = 3.5rem
