$color-primary =    #fff
$color-secondary =  #80b2d1
$color-tertiary =   #ededed;
$color-quaternary = #604e42;

$color-text = #000;
$color-text_add = #fff;

$html-font_baze = 62.5%

$font-family = "PT Sans", Helvetica, Arial, sans-serif;

$weight_bold = 700;
$weight_light = 300;
